extends ../base 

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        label(for="avatar") Avatar
        input(name="avatar",id="avatar",type="file", accept="image/*")
        input(type="text",value=user.username name="username",required, placeholder="userName")
        input(type="email",value=user.email name="email",required, placeholder="email")
        input(type="name",value=user.name name="name",required, placeholder="name")
        input(type="location",value=user.location name="location",required, placeholder="location")
        input(type="submit", value="Join")
    if loggedInUser.socialOnly === "false"
        a(href=`/users/edit-password`) Edit Password &rarr; 